@font-face {
  font-family: "Hanson Bold";
  src:
    url("../fonts/Hanson-Bold.otf") format("opentype"),
    url("../fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    position: relative;
    width: 45%;
    margin: auto;
    border-radius: 20px;
    background-color: #232222;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: url("../assets/Vector.svg"), url("../assets/Ellipse6.svg");
    background-size: 27%, 65%;
    background-position:
      left 125px,
      right 55px;
    background-repeat: no-repeat, no-repeat;

    .remove-btn {
      position: absolute;
      top: -0.5rem;
      right: -1rem;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 2rem;
        height: 2rem;
        margin: 0;

        &:hover {
          width: 2.1rem;
          height: 2.1rem;
        }
      }
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 20px;
      padding: 10px;

      .hdr {
        margin: auto;
        text-align: center;
        border: 0.5px solid #fff;
        border-radius: 27px;
        margin-top: 0.5rem;

        h2 {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          font-weight: 700;
          font-family: "Hanson Bold", sans-serif;
          margin: 0;
          padding: 0.5rem 1rem;
          padding-top: 0.65rem;
          color: #fff;
        }
      }

      .txt {
        margin-top: 1rem;

        p {
          color: #fff;
          margin: 0;
          padding: 0.5rem 0;
          font-size: 16px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }

      .to-do {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 3rem;

        .copy,
        .download {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          width: auto;

          button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            background: none;
            border: 0.5px solid #fff;
            border-radius: 25px;
            color: #fff;
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;

            img {
              width: 15px;
              height: 15px;
              margin-left: 10px;
            }
          }
        }

        .download {
          margin: 0;
        }

        .icon {
          float: left;
        }
      }
    }

    @media (max-width: 480px) {
      width: 90%;

      .modal-content {
        justify-content: center;
        align-items: center;

        .info {
          h1 {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
